<!DOCTYPE html>
<html>
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>

        <!-- Fragmento para agregar categoría -->
        <section th:replace="~{categorias/fragmentos :: agregar}"/>

        <!-- Fragmento para listado de categorías -->
        <section th:replace="~{categorias/fragmentos :: listado}"/>

        <!-- Fragmento para confirmar eliminación -->
        <section th:replace="~{categorias/fragmentos :: confirmarEliminar}"/>

        <!-- Toast de notificación -->
        <section th:replace="~{general/fragmentos :: mostrarToast}"/>

        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>

