<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Salon de Belleza JAC</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/7.0.0/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.min.js}"></script>        
    </head>
    <body>

        <!-- HEADER -->
        <header th:fragment="header" class="text-center p-4"
                style="background-color:#f8c8dc;">
            <h1 style="color:#6b4f4f; font-weight:bold;">
                Salón de Belleza JAC 
            </h1>
        </header>

        <!-- NAVBAR -->
        <nav th:fragment="navbar" class="navbar navbar-expand-lg"
             style="background-color:#6b4f4f;">
            <div class="container-fluid">

                <a class="navbar-brand text-white fw-bold"
                   th:href="@{/}">
                    Inicio
                </a>

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link text-white"
                           th:href="@{/categoria/listado}">
                            Categorías
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white"
                           th:href="@{/servicio/listado}">
                            Servicios
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white"
                           th:href="@{/}">
                            Reservas
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white"
                           th:href="@{/}">
                            Contacto
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <!-- FOOTER -->
        <footer th:fragment="footer"
                class="text-center p-3 mt-5"
                style="background-color:#f8c8dc; color:#6b4f4f;">
            © 2026 Salón de Belleza JAC - Todos los derechos reservados
            <div>
                <a href="#" class="text-white mx-2"><i class="fa-brands fa-facebook fa-lg"></i></a>
                <a href="#" class="text-white mx-2"><i class="fa-brands fa-twitter fa-lg"></i></a>
                <a href="#" class="text-white mx-2"><i class="fa-brands fa-instagram fa-lg"></i></a>
            </div>
        </footer>

    </body>
</html>